/* Palette */
/* navbar background: #f3b4a2  */
/* basics */
body {
    font-family: 'Muli', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    /* background: #e9ece5; */
    background: url("img/call_to_action/flying-books.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
} 
hr { 
    border: 1px solid #aec0bc; 
    border-radius: 200px /8px; 
    height: 0px; 
    text-align: center; 
} 
/* header */
.navbar{
    background: #3fb0ac !important;
   
}
.content-div{
    position: relative;
}
.logo{
    width: 8%;
    height: auto;
    float: left;
    padding-right: 2%;
}
.content-nav{
    font-size: 1.5em;
    left: 60%;
    
}
.navbar-toggler {
    float: right;
}
.nav-item {
    margin-left: 3em;
}
.icons{
    margin-left: auto;
    border: #fff 1px solid;

}
.icon-bar{
    border-radius:0.3em;
    margin-left: 0.5em;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    border:none;
}
.nav-center{
    display: inline;
}
.dropdown-item{
    font-size:0.8em;
}
.dropdown-menu{
    background: #173e43;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    margin-left: 3%;
    margin-top: 1%;
}

.dropdown-item{
    color:white; 
}
.nav-link:hover{
    color: red;
}
/* Promo Sliders */
.middle-box{
    width: 20%;
    height: 10%;
    background: #3fb0ac;  
}
.flex { 
    display: flex;
    flex-wrap: wrap;
  }  
.best-sell-img{
    width: 8rem;
    height: 8rem;
}
/* Footer */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #6ed3cf;
    text-align: center;
    position: fixed;
  }

.pre_footer {
    background-color:#fae596;
    bottom: 50px;
    position: fixed;
    width: 100%;
    margin:0;
}


