<!-- Start main index content -->

        <div class="col-3 filter">
            <div class="col">
                <h5>FILTERS</h5>
                <form>
                    Author Name:<br>
                    <input type="text" name="AuthorName">
                    <button type="button" class="btn btn-outline-primary waves-effect">Search</button>
                </form>
                <div>
                    <h6>Categories</h6>
                    <ul class="filter-links">
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#"> Childrens</a></li>
                        <li> <a href="#">Crime</a></li>
                        <li><a href="#">General Fiction</a></li>
                        <li> <a href="#">Horror</a></li>
                        <li> <a href="#">Illustrated</a></li>
                        <li><a href="#">Non-Fiction</a></li>
                        <li><a href="#">Parody</a></li>
                        <li> <a href="#">Poetry</a></li>
                        <li><a href="#">Sci-Fi &amp; Fantasy</a></li>
                    </ul>
                </div>
            </div>
    <!-- End Filter -->