/* Global styles
------------------------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  a {
    color: #EAD8AC;
  }
  a:hover {
    text-decoration: none;
  }
  h1, h2 {
    font-weight: 400;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
  }
  .content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  

  /* Header & Footer
  ------------------------------------*/
  header,
  footer {
    background: #C46C54;
    color: #1E3226;
  }
  header h1,
  header h2 {
    color: #EDF2F4;
    margin: 0;
  }
  
  /* Header styles only */

  .profile-img {
    width: 360px;
    border-radius: 30%;
    float: right;
    margin-right: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 
  }
  
  /* Footer styles only */
  footer {
    text-align: center;
  }
  .contact-info a {
    padding: 10px;
    display: inline-block;
  }
  
  
  
  /* Work Experience
  ------------------------------------*/
  .work {
    background: #EDF2F4;
  }
  
  
  /* Education
  ------------------------------------*/
  .education {
      background: #7A9179;
  }
  